body {
    font-family: Georgia;
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    background: #CFCFCF no-repeat center 50px;
}

#page {
    width: 1000px;
    margin: 20px auto;
}

a {
    color: #5C7F99;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

code {
    color: #0101C8;
    background-color: #FFF;
    padding: 20px;
    display: block;
    -moz-border-radius: 5px;
}

h3 {
    font-size: 16px;
}


/*form block*/
#form {

}

#form legend {
    font-family: Tahoma;
    font-size: 30px;
}

#form h2 {
    font-family: Times New Roman;
    font-size: 20px;
    color: #874343;
    margin-top: 4%;
    margin-left: 33%;
}

#files {
    color: #874343;
    margin: 50%;
}

#form select {
    margin-left: 20%;
    float: left;
    display: inline;
}

#form textarea {
    margin-top: 2px;
    margin-left: 40%;
}

#doc, #note, #spread {
    padding-top: 40px;
    line-height: 20px;
    clear: both;
}

#head {
    float: left;
    width: 363px;
    padding: 0 50px;
    font-size: 16px;
}

#head h1 {
    background: url(jqbargraphlogo.png) no-repeat;
    font-size: 35px;
}

#head h1 small {
    font-size: 22px;
    padding-left: 20px;
}

#head .download a,
#head .download a:hover {
    background-color: #7c7c7c;
    text-decoration: none;
}

#head .headText {
}

#bar {
    background-color: #333;
    width: 100%;
/*could be 72.71*/
    height: 6%;
    float: left;
    margin-left: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    font-weight: bold;
    color: #333;
}

#bar ul li {
    color: white;
    background-color: #333;
    margin-left: 20%;
    display: inline-block;
    font-size: 15px;
    margin-right: 2.6595745%;
}

